.game-cover {
  background-color: rgba(0, 0, 0, .2);
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 40;
}

.cover-item {
  text-align: center;

  h2 {
    font-size: calc(3vw + 18px);
    color: wheat;
  }

  p {
    color: white;
    font-size: calc(1vw + 18px);
  }
}
