@import 'cover';
@import 'player-decision';
@import 'hands';

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiding {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;

  &.shown {
    opacity: 1;
    pointer-events: auto;
  }
}
